﻿#register-form{

}
#login-form{
    display:none;
}
#view_profile {
display:block;
padding-right: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
    background: antiquewhite;
}
#view_profile p{
    margin: 0 0 10px;
    font-size: 20px;
    color: grey;
}
}
#edit_profile{
    display:none;
}
#user-directory{
    display:none;
}
