﻿@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/_profile.cshtml";
}

<h2>View Gallery</h2>

<br /><br />

<img src="@Url.Content("~/Content/images/Chrysanthemum.jpg")" width="200" height="200"/>
<img src="@Url.Content("~/Content/images/Desert.jpg")" width="200" height="200" />
<img src="@Url.Content("~/Content/images/Hydrangeas.jpg")" width="200" height="200" />
<img src="@Url.Content("~/Content/images/Jellyfish.jpg")" width="200" height="200" />
<img src="@Url.Content("~/Content/images/Koala.jpg")" width="200" height="200" />
<img src="@Url.Content("~/Content/images/Lighthouse.jpg")" width="200" height= "200" />
<img src="@Url.Content("~/Content/images/Penguins.jpg")" width="200" height="200" />
<img src="@Url.Content("~/Content/images/Tulips.jpg")" width="200" height="200" />