﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        basePath = "http://localhost:";
    </script>
</head>
<body>
    <nav>
        <a href="@Url.Action("Index","Login")">Login</a>
        <a href="@Url.Action("Index","Register")">Register</a>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
