﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-xs-12">
       
        <center style="    padding-top: 100px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 100px;
    ">
           
            <button class="btn btn-primary btn-block btn-lg" id="act3" style="border-radius:0px;font-size:60px;">
                View Profile
            </button>
            <h1 style="margin-top:10px;margin-bottom:10px;">&nbsp;</h1>
            <button class="btn btn-success btn-block btn-lg" id="act4" style="border-radius:0px;font-size:60px;">
                Update Info
            </button>
            <h1 style="margin-top:10px;margin-bottom:10px;">&nbsp;</h1>
            <button class="btn btn-danger btn-block btn-lg" id="act5" style="border-radius:0px;font-size:60px;">
                User Directory
            </button>
            <h1 style="margin-top:10px;margin-bottom:10px;">&nbsp;</h1>
            <button class="btn btn-default btn-block btn-lg" id="act6" style="border-radius:0px;font-size:60px;">
                Search
            </button>
        </center>
    </div>
    <div class="col-lg-6 col-xs-12" id="view_profile"></div>    
       
    <div class="col-lg-6 col-xs-12" id="edit_profile">
        <h1>Update Details</h1>
        <div id="update-message"></div>      
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" id="upd_fname" aria-describedby="fname" />
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="upd_lname" aria-describedby="lname" />
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="upd_email" aria-describedby="email" />
        </div>
        <div class="form-group">
            <label for="Mobile No">Mobile No.</label>
            <input type="tel" class="form-control" id="upd_mob" aria-describedby="mobile" />
        </div>        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="upd_password" aria-describedby="password" />
        </div>
        <div class="form-group">
            <button class="btn btn-danger" id="update">Submit</button>
        </div>  
    </div>


   
    <div class="col-lg-6 col-xs-12" id="user_directory"></div>
    <div class="col-lg-6 col-xs-12" id="user_search"></div>
    <div id="idMyModal"></div>

</div>

