﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="row">
    <div class="col-lg-6 col-xs-12">
        <center style="    padding-top: 100px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 100px;
    ">
            <button class="btn btn-primary btn-block btn-lg" id="act1" style="border-radius:0px;font-size:60px;">
                Register
            </button>
            <h1 style="margin-top:10px;margin-bottom:10px;">Or</h1>
            <button class="btn btn-success btn-block btn-lg" id="act2" style="border-radius:0px;font-size:60px;">
                Login
            </button>
        </center>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12" id="register-form">
        <h2 style="text-align:center;">Register</h2>
        <div id="status-message"></div>        
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" id="reg_fname" aria-describedby="fname" />
            <small id="lnameHelp" class="form-text text-muted">Please Enter Your First Name</small>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" id="reg_lname" aria-describedby="lname" />
            <small id="fnameHelp" class="form-text text-muted">Please Enter Your Last Name</small>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="reg_email" aria-describedby="email" />
            <small id="emailHelp" class="form-text text-muted">Please Enter Your Email</small>
        </div>
        <div class="form-group">
            <label for="Mobile No">Mobile No.</label>
            <input type="tel" class="form-control" id="reg_mob" aria-describedby="mobile" />
            <small id="mobHelp" class="form-text text-muted">Please Enter Your MobileNo</small>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="reg_dob" aria-describedby="date" />
            <small id="dateHelp" class="form-text text-muted">Please Enter Your Date</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="reg_password" aria-describedby="password" />
            <small id="passwordHelp" class="form-text text-muted">Please Enter Your Password</small>
        </div>   
        <div class="form-group">
            <button class="btn btn-danger" id="register">Submit</button>
        </div>        
       
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12" id="login-form">
        <h2 style="text-align:center">Login</h2>
        <div id="login-status"></div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="login_email" aria-describedby="email" />
            <small id="emailHelp" class="form-text text-muted">Please Enter Your Email</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="login_password" aria-describedby="password" />
            <small id="passwordHelp" class="form-text text-muted">Please Enter Your Password</small>
        </div>
        <div class="form-group">
            <button class="btn btn-warning" id="login">Submit</button>
        </div>  

    </div>
    </div>