﻿@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_appMaster.cshtml";
}

<h2>Login</h2>
<br />
<br />

<fieldset>
    <legend>Login</legend>
    <br />
    <form id="loginFrm">
        <label>Email : </label>
        <input type="email" name="email" />
        <br />
        <label>Password : </label>
        <input type="password" name="password" />
        <br />
        <br />
        <input type="submit" name="submit" value="Login"/>
        <input type="reset" name="reset" />
    </form>
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        $('#loginFrm').on('submit', function (event) {
            $.ajax({
                url: basePath + '',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {

                },
                error: function (err) {
                    alert("Error in logging in : " + JSON.stringify(err));
                }
            })
        });
    });
</script>
