﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_profile.cshtml";
}

<h2>About</h2>
<br />

<p>
    I am currently working as a Software Developer at Gemini Solutions Pvt Ltd, Udhyog Vihar Phase III , Gurgaon
</p>
