﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_appMaster.cshtml";
}

<br />

<fieldset>
    <legend>Register</legend>
    <form id="registerForm">
        <label>First Name : </label>
        <input type="text" name="firstName" />
        <br />
        <label>Last Name : </label>
        <input type="text" name="lastName" />
        <br />
        <label>Email : </label>
        <input type="email" name="email" />
        <br />
        <label>Password : </label>
        <input type="password" name="password" />
        <br />
        <label>Contact : </label>
        <input type="text" name="mobile" />
        <br />
        <label>Designation : </label>
        <select name="designation">
            <option value="-1">----------------</option>
            <option value="1">Project Manager</option>
            <option value="2">Team Lead</option>
            <option value="3">Sr. Software Engr</option>
            <option value="4">Software Engineer</option>
            <option value="5">Graduate Eng Trainee</option>
        </select>
        <br />
        <label>Date Of Birth : </label>
        <input type="date" name="dob" />
        <br />
        <input type="submit" name="submit" value="Register Me" />
        <input type="reset" value="Clear" />
    </form>
</fieldset>