﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>

    <div style="margin-bottom : 30px">
        <a href="@Url.Action("home", "Home")">Home</a>    
        <a href="@Url.Action("Index", "Profile")">About</a>    
        <a href="@Url.Action("gallery", "Gallery")">Gallery</a>    
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
