﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        var basePath = "http://localhost:49200/";
        $(document).ready(function () {
            $.ajax({
                url: basePath + "api/Student/addStudent",
                type: "POST",
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    alert("Error : " + JSON.stringify(err));
                }
            });

            $.ajax({
                url: basePath + "api/Student/selectStudents",
                type: "GET",
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    alert("Error : " + JSON.stringify(err));
                }
            });

            
            $.ajax({
                url: basePath + "api/Student/getStudentByID",
                type: "GET",
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    alert("Error : " + JSON.stringify(err));
                }
            });

            $.ajax({
                url: basePath + "api/Student/FilterStudents",
                type: "GET",
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    alert("Error : " + JSON.stringify(err));
                }
            });

            $.ajax({
                url: basePath + "api/Student/UpdateStudent",
                type: "POST",
                data: { studId: 1, Name: "Demo", Email: "bhavik.garg@geminisolutions.in" },
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    alert("Error : " + JSON.stringify(err));
                }
            });

            $.ajax({
                url: basePath + "api/Student/DeleteStudentById",
                type: "POST",
                data: { studId: 1 },
                success: function (response) {
                    console.log(response);
                },
                error: function (err) {
                    alert("Error : " + JSON.stringify(err));
                }
            });
        });
    </script>
</head>
<body>
    <h4>Hello to first API in ASP.NET MVC</h4>
    <div>
        <!-- ajax -->
    </div>
</body>
</html>
